.leaflet-container {
    width: 450px;
    height: 450px;
  }

  body{
    background-color: black;
  }

  .indexPageTitle{
    text-align: center;
    font-size: 50px;
    color: rgb(189, 174, 174);
  }

  .providersName{
    padding: 2%;
    width: 500px;
    height: 120px;
    margin: 2%;
    border-style: solid; 
    border-radius: 5%;
    text-align: center;
    background-color: #242637;
  }

  .providersList{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crée 3 colonnes égales */
    grid-gap: 20px; 
  }

  .providersList li {
    display: inline-block; 
  }

  .providerLink {
    text-decoration: none;
  }
  
  .providersName {
    color: rgb(189, 174, 174);
  }

  .singleProviderDetails{
    border-style: solid;
    width: 700px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-size: 20px;
    background-color: #242637;
    color: rgb(189, 174, 174);
  }

  .singleProviderDetails h1{
    text-align: center;
  }

  .map {
    margin-left: auto;
    padding: 5px;
    width: 450px;
    background-color:black;
    margin-right: auto;  
  }

  .informationTitle{
    font-weight: bold;
  }
